*~
.DS_Store
.\#*
\#*\#
/.cache
/.myth-css/
/bower_components/
/color-aliases/node_modules/
/composer.lock
/data/
/flow-typed/
/js/
/lud/music
/node_modules/
/ve/
/vendor/
/www/.cache
/www/music
/lud/config.js
/etc/server.json
