*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    min-width: 375px;
}

.header {
    grid-area: header;
}
.album {
    grid-area: album;
}
.playlist {
    grid-area: playlist;
}
.search-results {
    grid-area: search-results;
}
.library {
    grid-area: library;
}
.content {
    grid-area: content;
}

#layout {
    width: 100vw;
    display: grid;
    grid-gap: 0;
    grid-template-areas:
        'header'
        'search-results'
        'album'
        'playlist'
        'library';
}

@media only screen and (min-width: 100px) {
    #layout {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'header          header  header    header'
            'search-results  album   playlist  library';
    }
}
